.approve_btn {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.approve_btn:hover {
    -fx-text-fill: white;
    -fx-border-width: 0 0.75 0 0 ;
    -fx-label-padding: 0 0 0 0.75;
    -fx-border-color:  linear-gradient(to bottom, transparent 0%, #b8b8b8 25%, #ffffff 50%, #b8b8b8 75%, transparent 100%);
}
.approve_btn:selected {
    -fx-text-fill: #ff8e1f;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.approve_btn:selected:hover {
    -fx-border-width: 0 0.75 0 0 ;
    -fx-label-padding: 0 0 0 0.75;
    -fx-border-color:  linear-gradient(to bottom, transparent 0%, #b8b8b8 25%, #ffffff 50%, #b8b8b8 75%, transparent 100%);
}

.not_approve_btn {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.not_approve_btn:hover {
    -fx-text-fill: white;
    -fx-border-width: 0 0 0 0.75 ;
    -fx-label-padding: 0 0.75 0 0;
    -fx-border-color:  linear-gradient(to bottom, transparent 0%, #b8b8b8 25%, #ffffff 50%, #b8b8b8 75%, transparent 100%);
}
.not_approve_btn:selected {
    -fx-text-fill: #ff8e1f;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.not_approve_btn:selected:hover {
    -fx-border-width: 0 0 0 0.75;
    -fx-label-padding: 0 0.75 0 0;
    -fx-border-color: linear-gradient(to bottom, transparent 0%, #b8b8b8 25%, #ffffff 50%, #b8b8b8 75%, transparent 100%);
}

.confirm_btn {
    -fx-background-color: transparent
}
.confirm_btn:hover {
    -fx-background-color: #3e3e3e;
}
.confirm_btn:selected {
    -fx-background-color: #535353;
}

.product-name-card {
    -fx-background-color: linear-gradient(to top,
    rgba(0, 0, 0, 0.75) 0%,      /* Đỉnh card: Đen mờ 75% */
    rgba(30, 30, 30, 0.4) 22%,   /* Bắt đầu tan màu từ y=57 */
    rgba(0, 0, 0, 0.0) 32%,      /* Tan biến hoàn toàn tại y=83 (tạo vùng đệm quanh y=70) */
    rgba(0, 0, 0, 0.0) 100%     /* Suốt phần còn lại xuyên thấu 100% */
    );
}
.product-name-card:hover {
    -fx-cursor: hand;
    -fx-pref-width: 347;
    -fx-pref-height: 260;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
}
.product-name-label {
    -fx-opacity: 1.0;
}
.product-name-card:hover .product-name-label {
    -fx-opacity: 0.0;
}

/* Ép toàn bộ TextArea và các thành phần con */
.text-area,
.text-area .content,
.text-area .viewport,
.text-area .scroll-pane {
    -fx-background-color: transparent !important;
    -fx-control-inner-background: transparent !important; /* Cái này trị màu trắng */
    -fx-background-insets: 0 !important;
    -fx-background-radius: 0 !important;
}

/* Ép màu chữ */
.text-area .text {
    -fx-fill: white !important;
}

/* Ép màu Prompt Text */
.text-area .placeholder ,
.text-area .placeholder .text {
    -fx-fill: white !important;
}

/* Xóa bỏ hiệu ứng focus/hover gây trắng nền ngược lại */
.text-area:focused, .text-area:hover,
.text-area:focused .content, .text-area:hover .content {
    -fx-background-color: transparent !important;
    -fx-control-inner-background: transparent !important;
}

.message-text {
    -fx-opacity: 1;
}
.text-area:focused .message-text {
    -fx-opacity: 0;
}