.btn {
    -fx-border-color: transparent;
    -fx-border-width: 0 0 3 0;
    -fx-cursor: hand;
}

.btn:hover {
    -fx-border-color: #ff9800;
    -fx-border-color: #ffb300;
}

.bidhub-menu-btn {
    -fx-pref-width: 285px;
    -fx-pref-height: 20px;
    -fx-min-height: 20px;
    -fx-max-height: 20px;

    -fx-background-color: #1E1E1E;
    -fx-text-fill: white;

    -fx-font-size: 12px;
    -fx-alignment: CENTER;

    -fx-cursor: hand;

    -fx-padding: 0 10 0 10;
}

.bidhub-menu-btn:hover {
    -fx-background-color: #2A2A2A;
}